body{
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	line-height: 20px;
}

header{
	background-color: #AEB6BF ;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Limelight', cursive;
}

header h1{
	color: white;
	font-size: 50px; 
}

header img{
	border-radius: 0px;
	width: 600px;
	border: 10px solid white;
}


main{ 
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #34495E;
	margin: 30px 0 10px;
}

a{
	color: #34495E;
}
a:hover{
	color: #AEB6BF;
}


footer{
	background-color: #AEB6BF ;
	text-align: center;
	color: white;
	padding: 20px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hoover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #BFC9CA;
	font-style: italic;
	margin-top: 0;
}